// arquivos do visualstudio a ser ignorados pelo git
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.vcxproj.filters
*.ncb
*.sdf
*.opensdf
*.ipch
*.aps
*.pch
*.ilk
*.pdb
*.idb
*.class
*.log
*.tlog
*.lastbuildstate
*.obj
*.iobj
*.pch
*.ipdb
*.res
*.exe
*.dll
*.lib
*.app
*.a
*.lo